.header {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: bisque;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 30px;

}

.menu {
  margin: 0 30px;
}

.clock {
  margin-right: 30px;
}
